<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{ if not .IsHome }}
        {{ .Title }}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
    </title>

    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

</head>

<body class="font-mono text-white bg-black">
    <main class="container px-12 py-24 mx-auto text-center bg-opacity-100 md:px-4">
        {{ block "main" . }}
        {{ end }}
    </main>
</body>

</html>