<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{ if not .IsHome }}
        {{ .Title }}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
    </title>

    {{ $styles := resources.Get "css/main.css" | toCSS | postCSS }}

    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
    {{ end }}
</head>

<body>
    <div class="content">
        {{ block "main" . }}
        {{ end }}
    </div>
</body>

</html>