<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{ if not .IsHome }}
        {{ .Title }}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
    </title>

    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

</head>

<body class="font-mono text-white bg-black">
    <main class="container max-w-[1200px] px-12 py-24 mx-auto text-center bg-opacity-100 md:px-4">
        {{ block "main" . }}
        {{ end }}
    </main>
    <p class="w-full mb-6 text-center">made with ❤️ by the <a href="https://github.com/pinkilo"
            class="hover:underline text-rose-500">pinkilo</a>
        team |
        <a href="https://github.com/pinkilo/the-internet-is-hard" class="hover:underline text-rose-500">
            repo
        </a>
    </p>
</body>

</html>